/* register.js  */
.container_register {
  /* border: 3px solid #000; */
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("/public/images/registerbanner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-blend-mode: soft-light, screen;
  background-color: grey;
  color: white;
}

.container_register .signup {
  /* border: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 5em;
  position: relative;
}

.container_register .signup h1 {
  font-size: 36px;
  text-align: center;
}

.error {
  color: white;
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}
.container_register .signup input {
  margin: 1em;
  width: 90%;
  padding: 1em;
  border-radius: 10px;
}

.container_register .signup button {
  margin: 0.3em;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.1em;
  color: white;
  border-radius: 10px;
  background-color: rgb(93, 26, 26);
  border: 1px solid rgb(93, 26, 26);
}
.container_register .signup button a {
  color: white;
}

.container_register .signup .sns_login {
  /* width: 100%; */
  /* background-color: #fff; */
  /* border: 3px solid rgb(200, 184, 184);
        background-color: rgb(200, 184, 184); */
  /* height: 50%; */
  margin-top: 2em;
}

.container_login .signup .sns button p {
  display: inline-block;
  width: 100%;
}
.container_login .signup .sns_login {
  width: 100%;
  border: 1px solid yellow;
}

.container_login .signup .sns_login .google_login {
  border: 1px solid red;
  width: 100%;
}
