/* * {
    overflow-x: hidden;
} */

a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
}

.link {
    cursor: pointer;
}

tr {
    text-align: center;
    line-height: 2.5em;
}

td {
    text-align: center;
    line-height: 2em;
    font-size: 0.8em;
}

.bodytr:hover {
    background-color: rgba(126, 126, 126, 0.055);
}

td.left {
    text-align: left;
    text-decoration: none;
    color: black;
    width: 30em;
}

.seq {
    width: 3em;
}

.like {
    width: 3em;
}

.view {
    width: 3em;
}

.writtentime {
    width: 11em;
}

@media screen and (max-width: 1270px) {
    .like,
    .view,
    .seq {
        display: none;
    }

    Boardtable {
        margin: 2em;
    }
}
